h1 {
    font-family: Arial;
    color:white;
}
p {
    font-family: Arial;
    font-size: 19pt;
    font-style:initial;
    color:white;
    text-size-adjust: 10px;
}

img {
    width: 40%;
    border: 10px solid  darkred;
}

html {
    background-image: url(01-36-27-376_512.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}